<% if @config.public_share_code.present? %>
  <h2>Calendar for <%= @config.public_share_code %></h2>

  <p>Next 7 days</p>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 300px">Date</th>
        <th>Reservations</th>
        <th>Weather</th>
      </tr>
    </thead>

    <tbody>
      <% @date_range.each do |date| %>
        <% reservations = @reservations.find_all { |r| r.reservation_date == date } %>
        <% forecast = @forecasts.find { |f| f.date == date } %>
        <tr>
          <td><%= date.strftime('%A, %b %e') %></td>
          <td><%= print_reservations(reservations) %></td>
          <td><%= print_forecast(forecast) if forecast %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <% weather_fetched_at = @forecasts.map(&:updated_at).max %>
    <p>Weather was fetched <span title="<%= weather_fetched_at.in_time_zone('America/Los_Angeles') %>"><%= time_ago_in_words(weather_fetched_at) %> ago</span></p>
    <p>
      Add this to Google Calendar:
      <%= link_to ical_export_url(current_user.icalendar_config.public_share_code, format: 'ics'), ical_export_url(current_user.icalendar_config.public_share_code, format: 'ics') %>
    </p>
  </div>
<% end %>

<h2>Join a Friend's Calendar</h2>
<%= form_for @config, url: calendar_path, method: :patch do |f| %>
  <div class="mb-3">
    <%= f.label :public_share_code, class: 'form-label' %>
    <%= f.text_field :public_share_code, class: 'form-control' %>
    <div class="form-text">
      Use the same value here within a friend group. All events with the same share code will be merged onto a single calendar.
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :display_name, class: 'form-label' %>
    <%= f.text_field :display_name, class: 'form-control' %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
